@model Plans.Infrastructure.Response<List<Plans.Payment.Entities.Billing.AddOnModel>>
@{
    ViewData["Title"] = "Summary";
}

<h1>Summary</h1>
@using (Html.BeginForm("ExpansionPlan", "AddOn", FormMethod.Post, new { id = "frmExpansionPlan" }))
{
    <table width="100%" id="tblAddons">
        <thead>
            <tr>
                <td><p>Order Summary</p>
                <td colspan="5"></td>

            </tr>
            <tr>
                <td colspan="5"><hr /></td>

            </tr>
            <tr>
                <td width="30%">Item</td>
                <td width="15%"></td>
                <td width="20%">Quantity</td>
                <td width="5%">Duration</td>
                <td width="30%">Price</td>
            </tr>
        </thead>
        <tbody>
            @*@{int i = 0;}*@
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td width="30%">
                        @item.Description                       
                    </td>
                    <td width="15%"> </td>
                    <td width="20%">
                        @item.Quantity
                                        @Html.Hidden("hdQuantity", item.Quantity)
                                    </td>
                    <td width="5%">
                        @item.DurationType                       
                    </td>
                    <td width="30%">
                        @Html.TextBox("subtot", item.Quantity*item.Cost, new { @class = "subtot", style = "border: 0px none;" })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5"><hr /></td>
            </tr>

        </tbody>
        <tfoot>
            <tr style="border-block: solid">
                <td colspan="4" style="text-align:left;">Net Amount</td>
                <td>
                    @Html.TextBox("grdtot", "", new { @class = "grdtot" })

                </td>
            </tr>
            <tr>
                <td colspan="5"><hr /></td>

            </tr>
            <tr>
                <td colspan="5"> <input type="submit" value="Proceed" /></td>

            </tr>
        </tfoot>
    </table>
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script language="javascript">
    //        $('#txtQty').change(function(){
    //            alert(this.value);

    //});
    //$(function () {
    //    $('[id*=txtQty]').on("change", function () {
    //        var grid = document.getElementById("tblAddons");
    //        var rows = grid.getElementsByTagName("TR");
    //        var amount = 0;
    //        for (var i = 1; i < rows.length; i++) {
    //            var cells = rows[i].getElementsByTagName("TD");
    //            amount += parseFloat(cells[2].val());
    //        }
    //        //$('[id*=txtSum]').val(amount);
    //        alert(amount);
    //    });
    //});
    /*  $(document).ready(function () {*/

    //iterate through each textboxes and add keyup
    //handler to trigger sum event
    //$(".txt").each(function () {

    //    $(this).change(function () {
    //        calculateSum();
    //    });
    //});
    $(document).ready(function () {
        $(function () {
            $('.subtot, .grdtot').prop('readonly', true);
            var $tblrows = $("#tblAddons tbody tr");

            $tblrows.each(function (index) {
                // var $tblrow = $(this);

                // $tblrow.find('.qty').on('change', function () {

                //var qty = $tblrow.find("[name=qty]").val();
                // var price = $tblrow.find("[name=price]").val();
                //var price = $tblrow.find("[name=price]").val();
                // var subTotal = parseInt(qty, 10) * parseFloat(price);

                // if (!isNaN(subTotal)) {

                //  $tblrow.find('.subtot').val(subTotal.toFixed(2));
                var grandTotal = 0;

                $(".subtot").each(function () {
                    var stval = parseFloat($(this).val());
                    grandTotal += isNaN(stval) ? 0 : stval;
                });

                $('.grdtot').val(grandTotal.toFixed(2));
                // }
                //  });
            });
        });
    });
    //function calculateSum() {

    //    var sum = 0;
    //    //iterate through each textboxes and add the values
    //    $(".txt").each(function () {

    //        //add only if the value is number
    //        if (this.value.length != 0) {
    //            alert(this.value);
    //            sum += parseFloat(this.value);
    //        }

    //    });
    //.toFixed() method will roundoff the final sum to 2 decimal places
    $("#txtSum").val(sum.toFixed(2));

                //alert(sum)
    /*}*/
</script>

